@model IEnumerable<news_websites.Models.Categories>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-outline-success mt-5 mb-5" style="margin-left: 50px" asp-action="Create">Create New<i class="bi bi-plus"></i></a>
</p>
<table class="table table-hover custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width : 35%">
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

       
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square " style="color : rgba(4,59,92,1)"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle" style="color : green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3" style="color : red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
