@model news_websites.Models.News

@{
    ViewData["Title"] = "Details";
}

<style>
    .center-text {
        text-align: center;
    }

    .details-title {
        color: rgb(4, 59, 92);
        margin-top: 40px;
    }

    .details-list {
        padding-left: 100px;
    }

    .details-actions {
        padding-left: 700px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
</style>

<div class="center-text">
    <h1 class="mt-4 details-title">Details of @ViewBag.News</h1>
</div>

<hr />

<div class="mt-5">

    <dl class="row details-list">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dd></dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="max-width : 680px">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-10">

            <img id="myimg" src="@Url.Content("~/assets/img/" + Model.image)" alt="Alternate Text" class="img-thumbnail" />
        </dd>
    </dl>
</div>

<div class="details-actions">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<style>
#myimg{
    width : 20%;
    height : 100%;
    position : relative;
    left : 1100px;
    bottom : 150px
}
</style>